ul {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

ul li {
    list-style: none;
    margin-bottom: 5px;
}

:host /deep/ ng2-smart-table tbody > tr > td{
    text-align: center;
}

:host /deep/ ng2-smart-table thead th{
    text-align: center;
}

.form{
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10vh;
    min-height: 80vh;
}