<!-- <div class="siteSelect" style="background-color: white">

    <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" 
    [settings]="dropdownSettings" >

    </angular2-multiselect>

  <!-- <select multiple="true" title="select one" class="form-control col-md-10 siteSelect"
    [(ngModel)]="selectedParameters">
    <option *ngFor="let param of siteParameters" value="{{param.parameterId}}">{{param.label}}</option>
  </select> -->
</div> -->

<div class="report-view" *ngIf="showTable">
  <div class="mat-elevation-z8" #TABLE>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element">{{element.Date}} </td>
      </ng-container>
      <ng-container matColumnDef="Time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element">{{element.Time}} </td>
      </ng-container>
      <ng-container *ngFor="let parameter of selectedParameters" matColumnDef="{{parameter.label}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{parameter.label}}</th>
        <td mat-cell *matCellDef="let element"> {{element[parameter.label]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  <button mat-raised-button color="primary" (click)="exportAsExcel()">Generate Excel</button>
</div>